      <div class="hero-unit">
        <h1>Discount Pair-Programming sessions available!</h1>
        <p>
          We have had great success with Pair-Programming sessions via Google Hangouts.
          There are 10 free sessions "How to do real TDD in Python" available. 
        </p>
        <p><a href="http://glenjarvis.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span3">
          <h2>Hardworking</h2>
          <p>
           "Glen was part of a talented group of engineers at HomeGain when I
           was the CTO of the organization. I worked closely with Glen and
           his direct manager on a very complex Linux project and observed
           his analytical skills as well as his approach to problem solving,
           I was very impressed with the quality of his work from the very
           beginning. Glen took many initiatives to share his knowledge and
           increase the level of expertise within the technical team.
          </p>
          <p>
           Glen is one of the most loyal, hardworking, talented engineers
           that I have had the pleasure of working with. His technical
           knowledge and skills combined with his common sense and superb
           people skills (from colleagues to executives) make him a great
           asset within any technical organization. I highly recommend
           him."
          </p>
          <span>--Bahram Mahbod, ex-CTO,<br/><a
                            href="http://www.homegain.com/">HomeGain</a>
           April 15, 2008</span>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div class="span3">
          <h2>Deeply Ethical</h2>
          <p>
	   "Glen and I worked together at the Berkeley Phylogenomics Group
           for about 5 months. I would describe Glen as an excellent
           colleague and a deeply ethical and scrupulous worker. His
           technical expertise is well complemented by a strong work ethic
           and commitment to high standards. Glen will be a strong
           addition to any technical team and I recommend him highly and
           without qualification."
          </p>
          <span>--Shailen Tuli, Programmer,<br/><a
                            href="http://berkeley.edu/">UC Berkeley</a>
            January 22, 2012</span>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div class="span3">
          <h2>Tenacity</h2>
          <p>
           It is a pleasure to recommend Glen Jarvis... Glen's performance
           in class was solid - an "A", rank 5 out of 33. He also completed
           an exceptional final project with additional circuitry for a LED
           display and for sound on a small piezo speaker.  He is a hard
           working and talented student.
          </p>

          <p>
           What made him stand out, however, was his personality and tenacity
           in the classroom. In nearly two decades of teaching, I had never
           before walked into a classroom early, to see students, completely
           absorbed in their work, animatedly discussing problems on the
           chalkboard....
          </p>

          <p>
            Glen was the ringleader in making this happen, due to his
            contagious enthusiasm.... As I looked back over the class rolls
            to write this letter, even the B and some of the C students have
            gone on to distinguish themselves - and the class regards Glen
            as a peer leader and role model...
          </p>
          <span>--Dr.  Donald Wunsch, Ph.D.<br/>
                MK Finley Distinguished Prof.<br/>
                <a href="http://ece.mst.edu/facultystaffandfacilities/dwunsch.html">University of Missouri - Rolla</a>
                October 28, 2007
          </span>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div class="span3">
          <h2>Inspiring</h2>
          <p>
            "Working with Glen has been an inspiring experience, his commitment to
             work is remarkable and he will not stop working on a project/customer
             until all the people involved have been fully satisfied. He is also
             always willing to work with other people whenever deemed as appropriate.
             Good team worker and carries very good team spirit."
          </p>
          <span>--Paolo Giromini, Technical Support Agent<br />
            <a href="http://www-01.ibm.com/software/data/informix/">Informix Software (and IBM)</a>August 30, 2007
          </span>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
