.jumbotron
  h1 Our Philosophy
  p
    ' Glen Jarvis, LLC is a small company with the mission to Learn, Teach and
    | Grow. We also have the goals:

hr

.row-fluid
  .span4
    h2 To Learn
    p
      ' We teach people and help them grow. We can only continue teaching if we
      | continue learning.

  .span4
    h2 To Teach
    p
      ' The world wants to learn. We need to provide materials to help them do
      ' so. This means by passing barriers like language and culture wherever
      | possible so that we can teach globally.

  .span4
    h2 To Grow
    p
      ' We wish to constantly improve; to-keep balance between our work and
      ' private lives; and to feel challenged and encourage growth in our
      | lives.

.row-fluid
  .span4
    h2 To do the right thing
    p
      ' We always seek to do the right thing even if unpopular or difficult.
      ' This means following conscience, honesty, integrity and humility above
      | values imposed by others.

  .span4
    h2 To be financially responsible
    p
      ' The purpose of Glen Jarvis, LLC is to give enough financial freedom to
      ' our members so they have the capacity to enjoy their life and
      ' intellectual pursuits. This means we take responsibility for the
      ' financial situations that affect our business and personal lives.
      ' It also means that we use money as a tool for happiness and not allow
      | the pursuit of money to make us unhappy.

  .span4
    h2 To be transparent
    p
      ' To the extent possible, we wish to be transparent. This means posting
      ' our financial statements online, communicating our mission and goals,
      ' and being as public as possible while still being responsible for our
      | client's privacy and intellectual property.
