/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

aside {
  text-align: center;
  height: auto;
  margin-bottom: 10px;
  min-width: 500px;
}

aside a img{
  vertical-align: middle;
  position: relative;
}
