/*
 * Pick one style by placing the `=` sign in front the the style you want. Just one.
 *  require dresssed/blue
 *  require dresssed/black
 *= require dresssed/amber
 *
 * To fully customize your theme, run: `rails generate dresssed:customize`.
 */

.navbar .brand {
  background-image: none;
  width: 1px;
  height: 1px;
}

/* This is for a text logo. However, it disrupts the header size when responding smaller
.navbar .brand {
  background-image: none;
  text-indent: 0;
  width: auto;
  color: #f0f0f0;
}
*/
