footer
  .container
    p.pull-right
      = link_to "Home", root_path
      | &middot;
      = link_to "About", '/about'
      | &middot;
      = link_to "Contact Us", "#"
      | &middot;
      = link_to "Terms", "#"
      | &middot;
      = link_to "Privacy", "#"

    p
      | &copy; 2010-
      => Date.today.year
      => app_name
      |. All rights reserved.

    p.center
      a href="https://github.com/glenjarvis/"
        = image_tag("github.png")
      a href="http://www.linkedin.com/in/glenjarvis">
        = image_tag("linkedin.png")
      // a href="docs/jarvis_resume.pdf"
      // = image_tag("resume.png")
