doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="description" content="Courses and videos on how to use visualization. Courses cover Amazon Web Instances, using Ansible to deploy, Learning Python, etc."
    meta name="keywords" content="Python, Ruby, Software Engineering, Online Classes"
    meta name="author" content="Glen Jarvis"
    meta name="copyright" content="Copyright Glen Jarvis, LLC 1994-2016. All Rights Reserved."
    meta name="DC.title" content="Glen Jarvis LLC Online Training"
    meta name="DC.subject" content="Education"
  title
    = @title || "GlenJarvis.com"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
body
  header
  = yield

//    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
//    = yield :styles
//    // = javascript_include_tag "vendor/modernizr"
//    = javascript_include_tag "application", "data-turbolinks-track" => true
//    = yield :head
//  body
//    header
//      = render "layouts/navbar"
//      = yield :header
//
//      / = yield :banner
//
//    div#main
//      .container
//        = render "layouts/flashes"
//
//        = yield
//
//    = render "layouts/footer"
//
//    / Le javascript
//    / Placed at the end of the document so the pages load faster
//    = javascript_include_tag "application"
//    = yield :javascript

/// / Le HTML5 shim, for IE6-8 support of HTML elements
/// <!--[if lt IE 9]>
///   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
/// <![endif]-->
/
/    / Le fonts
/    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
/
/    / Le styles
/    / = stylesheet_link_tag "application", :media => "all"
/    = yield :styles
/
/    / Le fav and touch icons
/    = favicon_link_tag
/    / favicon_link_tag "apple-touch-icon.png", :rel => "apple-touch-icon"
/
/    / link rel="shortcut icon" href="/static/img/favicon.ico"/
/    / This is the traditional favicon.
/    /     - size: 16x16 or 32x32
/    /     - transparency is OK
/    /     - see wikipedia for info on browser support: http://mky.be/favicon/
/
/    / link rel="apple-touch-icon" href="/static/img/custom_icon.png"
/    / The is the icon for iOS's Web Clip.
/    / - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
/    / - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
/    / - Transparency is not recommended (iOS will put a black BG behind the icon) -->
